<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">3813ICT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- <a class="nav-link"routerLink="/login" *ngIf="loginbutton">login <span class="sr-only">(current)</span></a> -->
        <a class="nav-link"routerLink="/login" >login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mainpage">Mainpage</a>
      </li>

      <!-- <li *ngIf="superadmin" class="nav-item">
        <a *ngIf="superadmin" class="nav-link" routerLink="/manageuser">ManageUser</a>
      </li>
      <li *ngIf="groupAdmin" class="nav-item">
        <a *ngIf="groupAdmin" class="nav-link" routerLink="/groupadmin">ManageGroup</a>
      </li>
      <li *ngIf="login" class="nav-item">
        <button *ngIf="login" type="submit" (click)="logout()" class="btn btn-primary">Log out</button>
      </li> -->
      <li  class="nav-item">
        <a  class="nav-link" routerLink="/manageuser">ManageUser</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="/groupadmin">ManageGroup</a>
      </li>
      <li class="nav-item">
        <button  type="submit"  class="btn btn-primary">Log out</button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
