<div class="row">
  <div class="col-md-4">
      <h3>Managing Group</h3>
      <div class="outerDiv">
          <form #form="ngForm">
          <div class="row">
              <div class="col-md-5">
                  <label>Group</label>
              </div>
              <div class="col-md-7">
                  <input type="text" required #gname="ngModel" [(ngModel)]="groupObj.GroupName"  placeholder="GroupName" name="GroupName"  class="form-control"/>
                  <div *ngIf="gname.touched">
                      <span class="text-danger font-weight-bold" *ngIf="gname.errors?.['required']"> Required</span>
                  </div>
              </div>

          </div>

          <div class="row">
              <div class="col-md-5">
                  <label>Channel</label>
              </div>
              <div class="col-md-7">
                  <input type="text" required #channel="ngModel"  [(ngModel)]="groupObj.Channel" placeholder="Channel" name="Channel" class="form-control"/>
                  <div *ngIf="channel.touched">
                      <span class="text-danger font-weight-bold" *ngIf="channel.errors?.['required']"> Required</span>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 text-end">
                 <button class="btn btn-secondary btn-sm " style="padding-left: 20px;padding-right: 20px;"> Cancel</button>
                 <button class="btn btn-secondary btn-sm mx-2" style="padding-left: 25px;padding-right: 25px;" [disabled]="form.invalid" (click)="onSave()" > Save</button>
              </div>
          </div>
      </form>
      </div>
  </div>
  <div class="col-md-8">
      <h3>Group List</h3>
      <div class="outerDiv">
        <div class="row">
          <div class="col-md-6">

          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Group</th>
                          <th>Channel</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngIf="groupArr.length != 0">
                          <tr *ngFor="let item of groupArr;let sr = index">
                              <td>{{sr+1}}</td>
                              <td>{{item.GroupName}}</td>
                              <td>{{item.Channel}}</td>

                              <td class="text-center">
                                  <i class="fa fa-pencil-square" (click)="onEdit(item)" style="color: blueviolet;font-size: 19px;"  aria-hidden="true"></i>
                                  <!-- <i class="fa fa-pencil-square" (click)="addUser(item)" style="color: blueviolet;font-size: 19px;"  aria-hidden="true"></i> -->
                                  <i class="fa fa-trash mx-2" (click)="onDelete(item)" style="color:red;font-size: 19px;"  aria-hidden="true"></i>
                              </td>
                          </tr>
                      </ng-container>
                      <ng-container *ngIf="groupArr.length == 0">
                          <tr>
                              <td colspan="8" class="text-center"> No Record Present</td>
                          </tr>
                      </ng-container>
                  </tbody>
              </table>
          </div>
        </div>

      </div>

  </div>
</div>
